docs/n8n-workflows/prepare-miro-workshop-v2.3.0.json
{
  "name": "Prepare Miro Workshop Board v2.3.0",
  "version": "2.3.0",
  "changelog": "v2.3.0: Fix positioning - use relative positions with parent frames, fix geometry (width only), fix duplicate trigger",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "prepare-miro-workshop",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "prepare-miro-workshop"
    },
    {
      "parameters": {
        "jsCode": "// Parse Input v2.3.0\nconst input = $input.first().json;\n\nconst projectId = input.body?.input?.project_id;\nconst projectName = input.body?.input?.project_name || 'Prosjekt';\nconst companyId = input.body?.input?.company_id;\nconst companyName = input.body?.input?.company_name || 'Selskap';\nconst description = input.body?.input?.description || '';\nconst systems = input.body?.input?.systems || [];\nconst questionnaire = input.body?.input?.questionnaire || {};\nconst aiElements = input.body?.input?.ai_elements || [];\nconst aiSummary = input.body?.input?.ai_summary || '';\nconst context = input.body?.context || {};\n\nif (!projectId) {\n  throw new Error('project_id is required');\n}\n\nreturn {\n  projectId,\n  projectName,\n  companyId,\n  companyName,\n  description,\n  systems,\n  questionnaire,\n  aiElements,\n  aiSummary,\n  tenantId: context.tenant_id,\n  userId: context.user_id,\n  requestId: context.request_id\n};"
      },
      "id": "parse-input",
      "name": "Parse Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.miro.com/v2/boards",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "miroOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $json.companyName }} - {{ $json.projectName }}\",\n  \"description\": \"AI-generert Discovery Workshop board\"\n}",
        "options": {}
      },
      "id": "create-miro-board",
      "name": "Create Miro Board",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300],
      "credentials": {
        "miroOAuth2Api": {
          "id": "MIRO_OAUTH_CREDENTIAL_ID",
          "name": "Miro account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.miro.com/v2/boards/{{ $('Create Miro Board').first().json.id }}/frames",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "miroOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"data\": {\n    \"title\": \"1. Kontekst & Bakgrunn\",\n    \"format\": \"custom\"\n  },\n  \"geometry\": {\n    \"width\": 1400,\n    \"height\": 800\n  },\n  \"position\": {\n    \"x\": 0,\n    \"y\": 0\n  }\n}",
        "options": {}
      },
      "id": "create-context-frame",
      "name": "Create Context Frame",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 100],
      "credentials": {
        "miroOAuth2Api": {
          "id": "MIRO_OAUTH_CREDENTIAL_ID",
          "name": "Miro account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.miro.com/v2/boards/{{ $('Create Miro Board').first().json.id }}/frames",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "miroOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"data\": {\n    \"title\": \"2. Smertepunkter & Utfordringer\",\n    \"format\": \"custom\"\n  },\n  \"geometry\": {\n    \"width\": 1400,\n    \"height\": 800\n  },\n  \"position\": {\n    \"x\": 1600,\n    \"y\": 0\n  }\n}",
        "options": {}
      },
      "id": "create-painpoints-frame",
      "name": "Create Pain Points Frame",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 300],
      "credentials": {
        "miroOAuth2Api": {
          "id": "MIRO_OAUTH_CREDENTIAL_ID",
          "name": "Miro account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.miro.com/v2/boards/{{ $('Create Miro Board').first().json.id }}/frames",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "miroOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"data\": {\n    \"title\": \"3. Løsningsforslag & Muligheter\",\n    \"format\": \"custom\"\n  },\n  \"geometry\": {\n    \"width\": 1400,\n    \"height\": 800\n  },\n  \"position\": {\n    \"x\": 0,\n    \"y\": 1000\n  }\n}",
        "options": {}
      },
      "id": "create-solutions-frame",
      "name": "Create Solutions Frame",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 500],
      "credentials": {
        "miroOAuth2Api": {
          "id": "MIRO_OAUTH_CREDENTIAL_ID",
          "name": "Miro account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.miro.com/v2/boards/{{ $('Create Miro Board').first().json.id }}/frames",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "miroOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"data\": {\n    \"title\": \"4. Prioritering (MoSCoW)\",\n    \"format\": \"custom\"\n  },\n  \"geometry\": {\n    \"width\": 2000,\n    \"height\": 800\n  },\n  \"position\": {\n    \"x\": 1600,\n    \"y\": 1000\n  }\n}",
        "options": {}
      },
      "id": "create-moscow-frame",
      "name": "Create MoSCoW Frame",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 700],
      "credentials": {
        "miroOAuth2Api": {
          "id": "MIRO_OAUTH_CREDENTIAL_ID",
          "name": "Miro account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare Company Data v2.3.0 - Use input data directly\nconst boardId = $('Create Miro Board').first().json.id;\nconst frameId = $('Create Context Frame').first().json.id;\nconst input = $('Parse Input').first().json;\n\nreturn {\n  boardId,\n  frameId,\n  companyName: input.companyName || 'Ukjent selskap',\n  projectName: input.projectName || 'Ukjent prosjekt',\n  description: input.description || '',\n  industry: 'Ikke spesifisert'\n};"
      },
      "id": "prepare-company-data",
      "name": "Prepare Company Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.miro.com/v2/boards/{{ $json.boardId }}/sticky_notes",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "miroOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": {\n    \"content\": \"<strong>{{ $json.companyName }}</strong>\\n\\nProsjekt: {{ $json.projectName }}\\n\\nBransje: {{ $json.industry }}\",\n    \"shape\": \"square\"\n  },\n  \"style\": {\n    \"fillColor\": \"light_blue\",\n    \"textAlign\": \"left\",\n    \"textAlignVertical\": \"top\"\n  },\n  \"position\": {\n    \"x\": -500,\n    \"y\": -250\n  },\n  \"geometry\": {\n    \"width\": 350\n  },\n  \"parent\": {\n    \"id\": \"{{ $json.frameId }}\"\n  }\n}",
        "options": {}
      },
      "id": "add-company-sticky",
      "name": "Add Company Sticky",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 100],
      "credentials": {
        "miroOAuth2Api": {
          "id": "MIRO_OAUTH_CREDENTIAL_ID",
          "name": "Miro account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare AI Elements v2.3.0\n// Uses relative positions and parent frame from edge function\nconst boardId = $('Create Miro Board').first().json.id;\nconst aiElements = $('Parse Input').first().json.aiElements || [];\n\n// Map parentFrame names to actual frame IDs\nconst frameIds = {\n  'context': $('Create Context Frame').first().json.id,\n  'pain_points': $('Create Pain Points Frame').first().json.id,\n  'solutions': $('Create Solutions Frame').first().json.id,\n  'moscow': $('Create MoSCoW Frame').first().json.id,\n};\n\nconst colorMap = {\n  'pain_point': 'red',\n  'solution': 'green',\n  'user_story': 'light_blue',\n  'moscow_must': 'red',\n  'moscow_should': 'yellow',\n  'moscow_could': 'light_green',\n  'moscow_wont': 'gray',\n  'process_map': 'cyan',\n};\n\nif (aiElements.length === 0) {\n  return [];\n}\n\nreturn aiElements.map((element, index) => {\n  const category = element.category || 'process_map';\n  \n  // Get frame ID from parentFrame (from edge function) or map category\n  let frameId;\n  if (element.parentFrame && frameIds[element.parentFrame]) {\n    frameId = frameIds[element.parentFrame];\n  } else {\n    // Fallback: map category to frame\n    if (category.startsWith('moscow')) {\n      frameId = frameIds['moscow'];\n    } else if (category === 'pain_point') {\n      frameId = frameIds['pain_points'];\n    } else if (category === 'solution' || category === 'user_story') {\n      frameId = frameIds['solutions'];\n    } else {\n      frameId = frameIds['context'];\n    }\n  }\n  \n  const color = element.color || colorMap[category] || 'yellow';\n  \n  // Use relative position from edge function (already relative to frame center)\n  const x = element.relativePosition?.x ?? element.position?.x ?? 0;\n  const y = element.relativePosition?.y ?? element.position?.y ?? 0;\n  \n  return {\n    boardId,\n    frameId,\n    title: element.title || '',\n    content: element.content || element.title || '',\n    color,\n    x,\n    y,\n    category\n  };\n});"
      },
      "id": "prepare-ai-elements",
      "name": "Prepare AI Elements",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.miro.com/v2/boards/{{ $json.boardId }}/sticky_notes",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "miroOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": {\n    \"content\": \"<strong>{{ $json.title }}</strong>\\n\\n{{ $json.content.substring(0, 200) }}\",\n    \"shape\": \"square\"\n  },\n  \"style\": {\n    \"fillColor\": \"{{ $json.color }}\",\n    \"textAlign\": \"left\",\n    \"textAlignVertical\": \"top\"\n  },\n  \"position\": {\n    \"x\": {{ $json.x }},\n    \"y\": {{ $json.y }}\n  },\n  \"geometry\": {\n    \"width\": 320\n  },\n  \"parent\": {\n    \"id\": \"{{ $json.frameId }}\"\n  }\n}",
        "options": {}
      },
      "id": "add-ai-stickies",
      "name": "Add AI Stickies",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 400],
      "credentials": {
        "miroOAuth2Api": {
          "id": "MIRO_OAUTH_CREDENTIAL_ID",
          "name": "Miro account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare MoSCoW Headers v2.3.0\n// Positions are relative to frame center\nconst boardId = $('Create Miro Board').first().json.id;\nconst frameId = $('Create MoSCoW Frame').first().json.id;\n\nconst columns = [\n  { title: 'MUST HAVE', color: 'red', x: -800 },\n  { title: 'SHOULD HAVE', color: 'yellow', x: -350 },\n  { title: 'COULD HAVE', color: 'light_green', x: 100 },\n  { title: 'WON\\'T HAVE', color: 'gray', x: 550 }\n];\n\nreturn columns.map(col => ({\n  boardId,\n  frameId,\n  title: col.title,\n  color: col.color,\n  x: col.x,\n  y: -350\n}));"
      },
      "id": "prepare-moscow-headers",
      "name": "Prepare MoSCoW Headers",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 700]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.miro.com/v2/boards/{{ $json.boardId }}/sticky_notes",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "miroOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": {\n    \"content\": \"<strong>{{ $json.title }}</strong>\",\n    \"shape\": \"rectangle\"\n  },\n  \"style\": {\n    \"fillColor\": \"{{ $json.color }}\",\n    \"textAlign\": \"center\",\n    \"textAlignVertical\": \"middle\"\n  },\n  \"position\": {\n    \"x\": {{ $json.x }},\n    \"y\": {{ $json.y }}\n  },\n  \"geometry\": {\n    \"width\": 320\n  },\n  \"parent\": {\n    \"id\": \"{{ $json.frameId }}\"\n  }\n}",
        "options": {}
      },
      "id": "add-moscow-headers",
      "name": "Add MoSCoW Headers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 700],
      "credentials": {
        "miroOAuth2Api": {
          "id": "MIRO_OAUTH_CREDENTIAL_ID",
          "name": "Miro account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare Response v2.3.0\nconst boardId = $('Create Miro Board').first().json.id;\nconst viewLink = $('Create Miro Board').first().json.viewLink;\nconst projectId = $('Parse Input').first().json.projectId;\nconst aiElements = $('Parse Input').first().json.aiElements || [];\n\nreturn {\n  success: true,\n  board_id: boardId,\n  board_url: viewLink,\n  project_id: projectId,\n  elements_created: aiElements.length,\n  status: 'board_ready'\n};"
      },
      "id": "prepare-response",
      "name": "Prepare Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1540, 400]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [{ "node": "Parse Input", "type": "main", "index": 0 }]
      ]
    },
    "Parse Input": {
      "main": [
        [{ "node": "Create Miro Board", "type": "main", "index": 0 }]
      ]
    },
    "Create Miro Board": {
      "main": [
        [
          { "node": "Create Context Frame", "type": "main", "index": 0 },
          { "node": "Create Pain Points Frame", "type": "main", "index": 0 },
          { "node": "Create Solutions Frame", "type": "main", "index": 0 },
          { "node": "Create MoSCoW Frame", "type": "main", "index": 0 }
        ]
      ]
    },
    "Create Context Frame": {
      "main": [
        [{ "node": "Prepare Company Data", "type": "main", "index": 0 }]
      ]
    },
    "Create Pain Points Frame": {
      "main": [[]]
    },
    "Create Solutions Frame": {
      "main": [[]]
    },
    "Create MoSCoW Frame": {
      "main": [
        [
          { "node": "Prepare AI Elements", "type": "main", "index": 0 },
          { "node": "Prepare MoSCoW Headers", "type": "main", "index": 0 }
        ]
      ]
    },
    "Prepare Company Data": {
      "main": [
        [{ "node": "Add Company Sticky", "type": "main", "index": 0 }]
      ]
    },
    "Add Company Sticky": {
      "main": [[]]
    },
    "Prepare AI Elements": {
      "main": [
        [{ "node": "Add AI Stickies", "type": "main", "index": 0 }]
      ]
    },
    "Add AI Stickies": {
      "main": [
        [{ "node": "Prepare Response", "type": "main", "index": 0 }]
      ]
    },
    "Prepare MoSCoW Headers": {
      "main": [
        [{ "node": "Add MoSCoW Headers", "type": "main", "index": 0 }]
      ]
    },
    "Add MoSCoW Headers": {
      "main": [[]]
    },
    "Prepare Response": {
      "main": [
        [{ "node": "Respond Success", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    { "name": "workshop" },
    { "name": "miro" },
    { "name": "appbuilder" },
    { "name": "ai" },
    { "name": "v2.3.0" }
  ]
}

